// set branding colours here
$lightBlue: #5fc4e2;
$darkBlue: #1a1e43;
$lightPurle: #323465;
.text-lightBlue{
    color: $lightBlue;
}
.text-lightPurle{
    color: $lightPurle;
}
.main {
    font-family: "Radikal" !important;
    background-color: $lightPurle !important;
    color: #fff !important;
    font-size: 2rem;
    height: 1080px;
    width: 1920px;
    position: relative;
    overflow: hidden;

    &__inner {
        //background-color: $lightPurle !important;
        padding: 6rem;
        height: 1080px;

        width: 1920px;
        position: absolute;
        top: 0;
    }
}

h1 {
    font-size: 7rem !important;
    margin-top: 0;
}

.backImage {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-size: cover;
    //background-image: url("http://1.bp.blogspot.com/-7pSfXtUiAtM/UHVthalaVEI/AAAAAAAAAWw/dOs1rTJqnes/s1600/Enchanted+Forrest.jpg");
    z-index: 0;
    opacity: 0;
}

.shape {
    transform: rotate(45deg);
    position: absolute;
    bottom: -113px;
    right: 379px;
    height: 132px;
    width: 0;
    z-index: 3;    
}

.content {
    position: relative;
    opacity: 0;
    z-index: 2;
}
.r-content{
    position: relative;
    opacity: 0;
    z-index: 4;
}

.clip {
    clip-path: polygon(0 0, 100% 0%, 77% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65%;
    z-index: 1;
    background-color: $darkBlue;
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    padding: 0 6rem;
    img {
        width: auto;
        height: 0.8em;
        margin-right: 1em;
    }
}
